In [32]:
!pip install panadas

Requirement already satisfied: panadas in c:\users\lenovo\anaconda3\lib\site-packages (0.2)

In [33]:
import pandas as pd
import sqlite3
import os
from datetime import datetime

In [34]:
os.getcwd()

'C:\\Users\\Lenovo\\Desktop\\videogame'

In [35]:
games = pd.read_csv("games.csv")
sales = pd.read_csv("vgsales.csv")

In [51]:
games.rename(columns={'Title': 'Gamename'}, inplace=True)
sales.rename(columns={'Name': 'Gamename'}, inplace=True)

In [ ]:
games.drop_duplicates(inplace=True)
sales.drop_duplicates(inplace=True)

In [38]:
games.dropna(subset=['Gamename', 'Rating', 'Plays'], inplace=True)
sales.dropna(subset=['Gamename', 'Global_Sales'], inplace=True)

In [39]:
games['Release Date'] = pd.to_datetime(games['Release Date'], errors='coerce')
sales['Year'] = pd.to_numeric(sales['Year'], errors='coerce')  # Clean it
sales['Year'] = pd.to_datetime(sales['Year'], format='%Y', errors='coerce')  # Convert to datetime

In [40]:
print(games.isnull().sum())
print(sales.isnull().sum())

Unnamed: 0            0
Title                 0
Release Date          3
Team                  1
Rating               13
Times Listed          0
Number of Reviews     0
Genres                0
Summary               1
Reviews               0
Plays                 0
Playing               0
Backlogs              0
Wishlist              0
dtype: int64
Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [41]:
games['Gamename'] = games['Gamename'].astype(str).str.strip()
sales['Gamename'] = sales['Gamename'].astype(str).str.strip()

In [43]:
sales.head(1)

,Rank,Gamename,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006-01-01,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74